[general]
status_path = "~/.vdirsyncer/status/"

# CONTACTS

[storage local]
type = "singlefile"
path = "~/.contacts/%s.vcf"

[storage locali]
type = "filesystem"
path = "~/.contacts/"
fileext = ".vcf"

[storage online]
type = "carddav"
url = "https://nextcloud.org"
username = "EXAMPLE"
password = "EXAMPLE"

[pair contacts]
a = "local"
b = "online"
collections = ["from a", "from b"]
conflict_resolution = "b wins"

[pair contactsi]
a = "locali"
b = "online"
collections = ["from a", "from b"]
conflict_resolution = "b wins"
